.jumbotron {
    background-color: white;
}

.image-fluid {
    max-width: 100%;
    height: auto;
    
}

.footer-links{
    text-decoration: none;
   text-align: right;
}

.cards{
    
    transition: all .2s ease-in-out;
    transform: scale(1); 
   
}
.cards:hover {
    transform: scale(1.1);
  
}

.footer-links :hover{
    text-decoration: none;
   
}